root {
    display: block;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome {
    -fx-font-size: 14px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #45d4db;
    -fx-border-color: WHITE;
    -fx-text-fill: WHITE;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-text-fill: WHITE;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-border-color: linear-gradient(#61a2b1, #2A5058);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#homeButton, #ordersButton, #productsButton, #clientsButton {
    -fx-text-fill: linear-gradient(#61a2b1, #2A5058);
    -fx-background-color: WHITE;
    -fx-background-radius: 10px;
    -fx-border-color: linear-gradient(#61a2b1, #2A5058);
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
}
#homeButton:hover, #ordersButton:hover, #productsButton:hover, #clientsButton:hover {
    -fx-text-fill: WHITE;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-border-color: linear-gradient(#61a2b1, #2A5058);
    -fx-font-size: 16px;
    -fx-background-radius: 10px;
}

#signedOutButton{
    -fx-text-fill: WHITE;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-background-color: linear-gradient(#d90f23, #ad0919);
    -fx-border-color: BLACK;
}

#saveButton{
-fx-background-color: linear-gradient(#62ff59, #46f73b);
}
#deleteButton{
    -fx-background-color: linear-gradient(#d90f23, #ad0919);
    -fx-border-color: BLACK;
}
#deleteButton:hover{
    -fx-background-color: linear-gradient(#ad0919, #ad1514);
}
#saveButton:hover{
-fx-background-color: linear-gradient(#46ed3e, #3ed636);
}


